$primary-color:rgb(54, 54, 54);
$second-color: #f0e116;
$show-home-img:true;
$home-img:url("https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
$background-opacity:0.7;
@mixin easeOut {
    transition: all 0.5s ease-out;
}
@mixin  background {
    @if $show-home-img{
      &#bg-img{
          background: $home-img;
          background-attachment: fixed;
          background-size: cover;
          
          //sudo elemnt for background opacity
          &:after{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background:rgba($primary-color,$background-opacity) ;
        }
      }
     
    }
}

//Set Text color 
@function set-text-color ($color){
  @if(lightness($color) > 40){
    @return #000;
  } @else{
    @return #fff;
  }
}

//media query

@mixin mediaSm {
  @media screen and (max-width: 500px){
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 760px){
    @content;
  }
}
@mixin mediaLg {
  @media screen and(min-width:760px) and (max-width: 1170px){
    @content;
  }
}
@mixin mediaXl {
  @media screen and(min-width:117px) and (max-width: 1600px){
    @content;
  }
}
