//menu buttons
.btn-menu{
    position: absolute;
    z-index: 3;
    right: 25px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line{
        width: 28px;
        height: 3px;
        margin-bottom: 5px;
        background:set-text-color($primary-color);
        @include easeOut;
        
    }
    //Rotate the humburger into X
    &.close{
        transform: rotate(180deg);

        // Rotate the first and third line - and make x, hide the seconde
        .btn-line{
            //line 11
            &:nth-child(1){
               transform: rotate(45deg)  translate(5px, 5px);
               }
            &:nth-child(2){
               opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg)  translate(7px, -6px);
             }  
        }
    }
}

//Menu Overley
.menu{
    position: fixed;
    top: 0;
    width:100% ;
    opacity: 0.9;
    visibility: hidden;

   &.show{
    visibility: visible;
   }

   //split the nav-item, and branding
   &-branding,
   &-nav {
       display: flex;
       flex-flow: column wrap;
       align-items: center;
       justify-content: center;
       float: left;
       width: 50%;
       height: 100vh;
       overflow: hidden;
   }
   //nav 50% side
   &-nav{
        margin: 0;
         padding: 0;
         background: darken($primary-color, 5);
         list-style: none;
         transform: translate3d(0,-100%,0);  
        @include easeOut;

        &.show{
            //slide from the top
            transform: translate3d(0,0,0);
        }
     
   }

    // transform the links
    .nav-items{
        transform: translate3d(600px,0,0);  
        @include easeOut;
        &.show{
            //slide from the right
            transform: translate3d(0,0,0);
        }
        &.active > a{
            color: $second-color;
        }
    }
    .nav-links{
        text-transform: uppercase;
        font-size: 30px;
        padding: 1rem 0;
        font-weight: 300;
        color:set-text-color($primary-color);
        @include easeOut;

    &:hover{
        color: $second-color;
        @include easeOut;
    }
    }


   //branding 50% side
   &-branding{
    margin: 0;
    padding: 0;
    background: darken($primary-color, 1);
    transform: translate3d(0,100%,0);  
   @include easeOut;

    &.show{
        //slide from the bottom
        transform: translate3d(0,0,0); 
        }
        .face-img{
            width: 220px;
            height: 220px;
            background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwisBhLRLJ8qwa_KgPFpoci2MLwJNBQ1KfpU90Vadj3Kv3_SCJ");
            border-radius: 50%;
            border: 3px solid $second-color;
        }
   }
  
}

//delay each nav bar at 0.1s
@for $i from 1 through 4{
    .nav-items:nth-child(#{$i}){
        transition-delay: $i* 0.1s;
    }
}