//Wide Screens
@include mediaXl{
    .navbar .open-slide{
        display: none;
    }
    .projects{
        grid-template-columns:repeat(4,1fr);
    }
}
//Lg Screens
@include mediaLg{
    .navbar ul li{
        padding: 0 1.5rem;
    }
    .projects{
        grid-template-columns:repeat(3,1fr);
    }

}
// //Tablets Screens
// @include mediaMd{

// }
//Mobile 
@include mediaSm {
    body{
        background-image: url("https://image.shutterstock.com/z/stock-photo-close-up-of-an-unrecognizable-businesswoman-typing-on-a-keyboard-while-sitting-in-an-office-666569623.jpg");
        // background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
       
        position: relative;
      
        background-size: auto;
   
        // margin: 0;
    }
        .colored{
      display: none;
        }
        .navbar .open-slide {
            display: block;
            position: fixed;
            top:5px;
            left: 10px;
            z-index: 2;
        }
     
       
    #home {
      padding: 5rem 0 0 0;
  
      .lg-heading {
        margin-top:30vh;
        margin: 0  auto;
        font-size: 5rem;
      }
      .text-second{
          margin-top:1rem;
      }
      .sm-heading{
        margin: 2rem auto;
        padding: 3rem 1rem 1rem 1rem;
        text-align: left;
        width: 100vw;
      }
      .icons{
        //   padding: 0;
          margin: 0 auto;
      }
    }
#about{
    height: 100%;
    .lg-heading{
        font-size: 3.5em;
    }
   .container{
       margin-bottom: 0;
       padding-bottom: 2rem;
    .about-info{
        grid-template-areas: 
        "info"
        " bio-img"
        "skill1 "
        "skill2 "
        "skill3";
        grid-template-columns: 1fr;
        margin: 0 1rem;
        .bio-img{
            margin: 0 auto;
            padding: 0;
            
        }
        .bio{
            padding: 0;
            margin: 0 auto;
        }

    }
}
}
    //work page
    #work{
        height: 100%;
        .bg-image{
        height:100%;
        }
        .lg-heading{
            font-size: 4.2rem;
            padding: 0.3rem;
        }
        .projects{
            grid-template-columns: 1fr;
            grid-gap: 2rem 0;
            margin: 0  1rem;
        
        }
    
    }

#contact{
    height: 100%;
    .lg-heading{
        padding: 0.3rem;
        font-size: 4.2rem;
    }
    .boxes{
        margin: 0 1.5rem;
    }
}


}