@import 'config';


*{
    box-sizing: border-box;
}
body{
    @include background;
    background: $primary-color;
    color:set-text-color($primary-color);
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-weight: 100;
  
}


//navbar
.navbar ul{
  position: fixed;
  left: 150px;
  text-align: center;
  margin: 1rem auto 50rem 0 ;  
  width: 80%;
  height: 45px;
  border-radius: 5px;
  list-style: none;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

// new navbar after scrooling
.colored{
    position: fixed;    
    text-align: center;
    margin:0 auto 0.2rem auto ;
    // padding: 0.3rem 2rem 0 2rem;  
    width: 100%;
    height: 45px;
    list-style: none;

    background: rgb(255, 255, 255);
    z-index: 1;
    .open-slide{
        display: none;
    }
   .colored a{
        color:#444;
    }
    .colored li a:hover{
        transition: all 1s;
        color: $second-color;
    }
}
li{
    padding: 4px 2rem;
    display: inline-block;
}

li a{
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-size: 1.5rem;
    transition: all 1s;
    
}
li a:hover{
    transition: all 1s;
    color: $second-color;
}


//side-menu

.side-menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background: rgba(116, 113, 108, 0.568);
    opacity: 0.9;
    overflow-x:hidden;
    padding-top: 100px;
    transition: 0.8s;
}

.side-menu a{
    padding:  10px 10px 10px 30px;
    text-decoration: none;
    font-size: 1.5rem;
    color:#fff;
    display: block;
    transition: 0.8s;
}

.side-menu a:hover{
    transition: all 0.2s;
    color:$second-color;
}

#close{
    position: absolute;
    top:2px;
    right: 2px;
    font-size: 2.5rem;
}
#bg-img{
    transition:margin-left 0.8s;
    overflow-x: hidden;
    width: 100%;
}


//showcase
h1,h2,h3 {
    font-weight: 400;
    &.lg-heading{
       font-size: 6rem; 
    }
    &.sm-heading{
        font-family: 'Lobster', cursive;
        font-size: 2rem;
        margin: 15px auto;
        padding: 0 1rem;
        width: 45vw;
        // background: rgba(lighten($primary-color, 4), 0.08);
        // border-radius: 10px;
        text-align: center;
    }
}

a{
    color: #fff;
    text-decoration: none;
}


.text-second{
color:$second-color;
}





#home{
  
    height: 111vh;
    overflow: hidden;
    .icons{
      margin: 0.1rem 5rem;
      padding-left: 65%;
      
      a{
          padding: 0.4rem;
          &:hover{
              color:$second-color;
            @include easeOut();
          }
      }
    }
    
       h1{
           margin-top: 20vh;
           position: relative;
           top: auto;
           left: 11%;
       }
       span{
        position:absolute;
        top:62%;
        left: 20%;
       }
    }


// About Page
#about{
    background: rgba(167, 60, 60, 0.5);
    height: 120vh ;
    width: 100%;
 
    
    .lg-heading{
        font-family: 'Lobster', cursive;
        color:rgb(39, 39, 39);
        font-size: 4.5rem;
        text-transform: uppercase; 
        padding: 2.5rem 0 1.8rem  0;
        height: 5px;
        text-align: center;
    }


    .container{
        width:100%;
        height: 100%;
        margin: 2rem auto;
        background: rgba(143, 180, 185, 0.363);

        .about-info{
            display: grid;
            grid-gap: 2rem;
            grid-template-areas: 
            'info info bio-img'
            'skill1 skill2 skill3';
            grid-template-columns: repeat(3, 1fr);
            font-size: 1.3rem;
            margin: 0 2rem;
            padding: 0 1rem;
             line-height: 1.7;
              text-align: center;

             h3{
              text-transform: uppercase;
            }
          
                .bio{
                    grid-area: info;
                   padding-left: 1.5rem;
                   font-size: 1.5rem;
                }
                 .bio-img
                 {
                    grid-area: bio-img;
                    border-radius: 50%;
                    border: 3px solid $second-color;
                    margin: 0 0 3rem 4rem;
                    display: inline;
                    filter: grayscale(0%);   
                    transition: all 1000ms;
                    cursor: pointer;
                    box-shadow: 5px 5px 10px #333;
                 }
                 .bio-img:hover{
                    filter: grayscale(50%);
                    transition: all 1000ms;
                    border-radius: 40%;
                }
                 .skill-1{
                    grid-template: skill1;
                }
                 .skill-2{
                    grid-template: skill2;
                }
                 .skill-3{
                    grid-template: skill3;
                }
             .skills{
                border-radius: 2px;
                 color:rgb(214, 212, 212);
                 background: rgba(27, 27, 27, 0.932);
                 padding: 0.5rem 1rem 0.2rem 1rem;
                 border-bottom: $second-color 5px solid;
                 border-top: $second-color 5px solid;
                 @include box-shadow;
                 h3{
                     color:rgb(255, 241, 214);
                     margin:0;
                     padding: 0;
                 }
                 p{
                    margin:0;
                    padding: 0.5rem;
                 }
                 .skill-icon{
                  font-size: 18px;
                  border-radius: 50%;
                                    }
              
             } 
        } 
    }   
}

//Work Page
#work{
    
    height: 100%;
    color:rgb(0, 0, 0);
    text-align: center;
    // background: rgba(0, 0, 0, 0.3);

 .bg-image{
        position: absolute;
        background: url('https://images.unsplash.com/photo-1516116412344-6663387e8590?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80');
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover; 
        background-attachment: fixed;
        width: 100%;
        height:100%;
        z-index: -1;
        opacity: 0.6;
      
    }

    .lg-heading{
        margin: 0;
        padding: 2rem 0 0.5rem 0;
        font-family: 'Lobster', cursive;
        font-size: 5rem;
        color:rgb(39, 39, 39);
        
    }
     .projects{
    height: 100%;
    margin: 0 4rem 0rem 4rem;
    padding: 1rem;
    display: grid;
    grid-gap: 2rem 5rem;;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom:4rem;
    
    .item{
        width: 100%;
        height: 100%;
        background: rgba(14, 14, 14, 0.767);
        color:rgb(218, 218, 218);
    }
    .project-title{
        margin: 1rem 0 0 0;
        padding: 0;
    }
    .project-desc{
        padding:0 1rem;
        font-size: 1.2rem;
        margin: 0.2rem;
        text-align: left;   
    }
    img{
        @include box-shadow;
        width: 100%;
       height: 220px;
        border: 3px solid #fff;
        @include easeOut;
        &:hover{
            opacity: 0.7;
            border:3px solid $second-color;
            @include easeOut;
            }
        }
    }
}

//Button Style
.btn{
    background-color:rgb(206, 206, 206); 
    color: black; 
    border: 2px solid $second-color;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5rem 0;
    text-align: center;
    @include box-shadow;
    @include easeOut;
    &:hover{
       background: $second-color; 
       color: set-text-color($second-color);
       @include easeOut;
    }
}




//Contact Page
#contact{
    height:100vh;
    background: rgba(141, 104, 104, 0.199);
    .lg-heading{
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 5rem;
        color:rgb(39, 39, 39);
        margin: 0;
        padding: 8rem 0 0 0;
    }

 .boxes{
     
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0 0 0 ;
    div{
        @include box-shadow;
        font-size: 2rem;
        border:3px solid rgb(39, 39, 39);
        color: rgb(39, 39, 39);
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
        
        &:hover{
            padding: 0.8rem 1.5rem;
            background: $second-color;
            color: set-text-color($second-color);
            span{
                color: set-text-color($second-color);
            }
        }
    }
}
}

#footer{
     
    text-align: center;
    width: 100%;
    height: 50px;
    background: #444;
    margin: auto;
    padding: 1rem;
    
}

@import 'mobile';